$fonts: Gilroy, Arial, sans-serif, Serif;

$button-color: #D4C7A0;
$header-color: #4E4A42;

$secondary-bg-color: rgba(212, 199, 160, 0.1);











*{
    font-family: $fonts;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }